 {% extends "base.html"%}
 {% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

 {% block content %}
<div class="overlay"></div>
<div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Shopping Bag</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
<!--shopping cart area start -->
{% if bag_items %}
    <div class="shopping_cart_area mt-100">
        <div class="container">  
            <form action="#"> 
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="cart_page table-responsive">
                                <table>
                            <thead>
                                <tr>
                                    <th class="product_thumb">Image</th>
                                    <th class="product_name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product_quantity">Quantity</th>
                                    <th class="product_total">Total</th>
                                    <th class="product_remove">Remove</th>
                                </tr>
                            </thead>
                            {% for item in bag_items%}
                            <tbody>
                                <tr>
                                    <td class="product_thumb"><a href="#"><img src="assets/img/s-product/product.jpg" alt=""></a></td>
                                    <td class="product_name"><a href="#">{{ item.product.category.friendly_name }} - {{ item.product.occasion.friendly_name}}</a></td>
                                    <td class="product-price">${{ item.product.get_new_price }}</td>
                                    <td class="product_quantity"><input min="1" max="100" value="{{ item.quantity }}" type="number"></td>
                                    <td class="product_total">${{ item.prod_qty |floatformat:0}}</td>
									<td class="product_remove"><a href="#"><i class="far fa-times-circle"></i></a></td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>   
                            </div>  
                            <div class="cart_submit">
                                <button type="submit">update bag</button>
                            </div>      
                        </div>
                    </div>
                </div>
                <!--Cart Totals area start-->
				<div class="coupon_area">
					<div class="row">
						<div class="col-lg-6 col-md-6">
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="coupon_code right">
								<h3>Bag Totals</h3>
								<div class="coupon_inner">
									<div class="cart_subtotal">
										<p>Total</p>
										<p class="cart_amount">${{ grand_total |floatformat:0 }}</p>
									</div>
									<hr>
				
									<div class="row reverse">
										<div class="col-lg-6 col-md-6">
											<div class="checkout_btn">
												<a href="#"> <i class="fas fa-angle-double-left"></i> keep shoping</a>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="checkout_btn">
												<a href="#">Proceed to Checkout</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!--Cart Totals area end-->
                {% else%}
                    <p class="lead mb-5 text-center"><strong>Your bag is empty.</strong> </p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
            </form> 
        </div>     
    </div>
    {% endif %}
</div>
    <!--shopping cart area end -->
 {% endblock %} 