
 <footer>
    <div class="bg-footer_widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 footer_widget v-line">
                    <div class="widget_inner">
                        <div class="logo ">
                            <a href="{% url 'home' %}"><img class="mb-3" src="{{ MEDIA_URL }}logo.png" alt="image" /></a>
                         <div class="text-white">
                                <ul>
                                    <li><i class="fas fa-video mr-2"></i> We have quality.</li>
                                    <li><i class="fas fa-video mr-2"></i> very good team with experience in filming and photography.</li>
                                    <li><i class="fas fa-video mr-2"></i> All our equipment is high quality (4K).</li>
                                    <li><i class="fas fa-video mr-2"></i> Our goal is you will be happy.</li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="follow_us mt-2">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 footer_widget v-line pl-0">
                    <div class="widget_inner text-white">
                        <h4 class="mb-3"> <strong>Contact Us:</strong> </h4>
                        <p><i class="fas fa-map-marker-alt margin-padding-footer-contact-10"> </i> Valkyriavägen
                            111, 17469 Sundbyberg, Stockholm</p>
                        <p><i class="fas fa-at margin-padding-footer-contact-10"> </i> <a
                                href="#">suport@occasionfotovideo.com</a></p>
                        <p><i class="fas fa-phone-alt margin-padding-footer-contact-10"> </i> +4673XXXXXXX</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer-Widgets -->
    <!-- Footer-Bottom -->
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-center text-white">
                    <h5>&copy; Occasion Video&Photo 2020</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer-Bottom -->
</footer>
