 {% load  static %}
 <header>
        <div class="main_header">
            <!--header top start-->
            <div class="header_top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="support_info">
                                <p>Email: <a href="mailto:">suport@occasionfotovideo.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header top end-->
            <!--header middel start-->
            
<div class="header_middle">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-6">
				<div class="logo">
					<a href="{% url 'home' %}">
                       
						<img src="{{ MEDIA_URL }}logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-9 col-md-6">
					<div class="middel_right">
						<div class="search_container">
							<form method="GET" action="{% url 'products' %}">
								<div class="search_box">
									<input name="q" placeholder="Search Product..." type="text">
										<button type="submit">Search</button>
									</div>
								</form>
							</div>
							<div class="middel_right_info">
								<li class="list-inline-item dropdown">
									<a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<div class="text-center">
											<div>
												<img src="{{ MEDIA_URL }}user.png" alt="">
												</div>
											</div>
										</a>
										<div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    
											<a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                
											<a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
											<a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                
											<a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
											<a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        
										</div>
									</li>
									<!--mini cart-->
									<div class="mini_cart_wrapper">
										<a href="{% url 'view_bag'%}">
											<img src="{{ MEDIA_URL }}shopping-bag.png" alt="">
											</a>
											<span class="{% if bag_items %}cart_quantity-green{% else %}cart_quantity{% endif %}">
                             {% if product_count %}
                                 {{ product_count }}
                             {% else %}
                                0
                             {% endif %}
                            </span>
									</div>
									<!--mini cart end-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="main_menu_area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main_menu menu_position">
                                <nav>
                                    <ul>
                                        <li><a href="{% url 'home' %}">home</a></li>
                                        <li><a class="active" href="{% url 'products'%}">Products<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages non-list">
                                                <li><a href="{% url 'products' %}?sort=price&direction=acs">By Price</a></li>
                                                <li><a href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                                                <li><a href="{% url 'products' %}?sort=category&direction=acs">By Category</a></li>
                                                <li><a href="{% url 'products'%}">All Products</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="active" href="{% url 'products'%}?category=video">Video <i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages non-list">
                                                <li><a href="{% url 'products' %}?occasion=wedding&category=video">Wedding</a></li>
                                                <li><a href="{% url 'products'%}?occasion=engagement&category=video">Engagement</a></li>
                                                <li><a href="{% url 'products'%}?occasion=baptism&category=video">Baptism</a></li>
                                                <li><a href="{% url 'products'%}?occasion=student&category=video">Student</a></li>
                                                <li><a href="{% url 'products'%}?occasion=first_communion&category=video">First Communion</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'products'%}?category=photo">Photo<i class="fa fa-angle-down"></i></a>
                                            <ul class="sub_menu pages non-list">
                                                 <li><a href="{% url 'products'%}?occasion=wedding&category=photo">Wedding</a></li>
                                                <li><a href="{% url 'products'%}?occasion=engagement&category=photo">Engagement</a></li>
                                                <li><a href="{% url 'products'%}?occasion=baptism&category=photo">Baptism</a></li>
                                                <li><a href="{% url 'products'%}?occasion=student&category=photo">Student</a></li>
                                                <li><a href="{% url 'products'%}?occasion=first_communion&category=photo">First Communion</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'contact' %}"> Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </div>
    </header>
