 {% extends "base.html"%}
 {% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

 {% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Product Details</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                    <!--product details start-->
    <div class="product_details mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                   <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="{{ product.image.url }}" data-zoom-image="{{ product.image.url }}" alt="big-1">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                       <form action="#">
                            <h1>{{ product.category.friendly_name }} - {{ product.occasion.friendly_name}}</h1>
                            <div class=" product_ratting">
                                <p class="mb-0 font-weight-bold">{{ product.package.friendly_name }} Package</p>
                            </div>
                            <div class="price_box">
                                <span class="current_price">$70.00</span>
                                <span class="old_price">$80.00</span>
                            </div>
                            <div class="product_desc">
                            <p>{{ product.description}}</p>
                            {% for x in product.thingsInclude_as_list %}
                                <ul>
                                    <li>{{ x }}</li>
                                </ul>
                             {% endfor %}
                            </div>
                            <div class="product_variant quantity">
                                <label>quantity</label>
                                <input min="1" max="100" value="1" type="number">
                                <button class="button" type="submit">add to cart</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->
            </div>
        </div>
    </div>
 {% endblock %}  
