 {% extends "base.html"%}
 {% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

 {% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Product Details</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                    <!--product details start-->
    <div class="product_details mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                   <div class="product-details-tab">
                        <div>
                            <a href="#">
                                <img class="img-thumbnail"  src="{{ product.image.url }}" data-zoom-image="{{ product.image.url }}" alt="product-pic">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                            <h1>{{ product.category.friendly_name }} - {{ product.occasion.friendly_name}}</h1>
                            <div class=" product_ratting">
                            {% if product.package.friendly_name == "Silver" %}
                                <p class="mb-0 font-weight-bold package-bg-silver">{{ product.package.friendly_name }} Package</p>
                            {% elif product.package.friendly_name == "Gold" %} 
                                <p class="mb-0 font-weight-bold package-bg-gold">{{ product.package.friendly_name }} Package</p> 
                            {% elif product.package.friendly_name == "Platinum" %} 
                                <p class="mb-0 font-weight-bold package-bg-platinum">{{ product.package.friendly_name }} Package</p> 
                            {% else %}
                                <p class="mb-0 font-weight-bold ">{{ product.package.friendly_name }} Package</p>        
                            {% endif %}    
                            </div>
                            <div class="price_box">
                                <span class="new_price">${{ product.get_new_price}}</span>
                                <span class="discount-note">(30% of the full price)</span>
                            </div>
                            <div class="product_desc">
                            <p>{{ product.description}}</p>
                            {% for x in product.thingsInclude_as_list %}
                                <ul>
                                    <li>{{ x }}</li>
                                </ul>
                             {% endfor %}
                            </div>
                         <form action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="col">
                            <div class="row">
                            
                                <div class="col-lg-6 col-md-12 col-sm-6">
                            
                                <p class="mt-2"><strong>Quantity:</strong></p>
                                
                                <div class="form-group">
                                
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-6 mnb-5">
                                <div>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                                </div>
                                </div>
                                </div>
                            </div>

                            <div class="col-12 mb-5">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-3">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--product details end-->
            </div>
        </div>
    </div>
 {% endblock %}  

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}